# Opciones de configuración para port--pin
# set_io [-nowarn] [-pullup yes|no] [-pullup_resistor 3P3K|6P8K|10K|100K] port pin

# set_io clk 60 # Señal de reloj del hardware 25 MHz

# set_io -pullup yes a 52
# set_io y 56 # RED LED

# COMENTARIOS
# set_io port 56 # RED LED
# set_io port 55 # YELLOW LED
# set_io port 52 # GREEN LED | SW1
# set_io port 49 # BLUE LED | SW2

# Configuración de pines
set_io App 9
set_io Ap 10
set_io Al 11
set_io All 12

set_io Bpp 15
set_io Bp 16
set_io Bl 17
set_io Bll 18

set_io Cpp 28
set_io Cp 29
set_io Cl 31
set_io Cll 32

set_io Dpp 33
set_io Dp 34
set_io Dl 37
set_io Dll 38

set_io hclk 60

# salidas

set_io VA 104
set_io AA 106
set_io RA 102

set_io VB 49
set_io AB 101
set_io RB 52

set_io VC 21 
set_io AC 19
set_io RC 22

set_io VD 25
set_io AD 23
set_io RD 26

# display

set_io g 136
set_io f 137
set_io a 134
set_io b 135
set_io e 141
set_io d 142
set_io c 138

# 8digs
set_io EA0 1
set_io EA1 143
set_io EB0 2
set_io EB1 144
set_io EC0 7
set_io EC1 3
set_io ED0 8
set_io ED1 4


